.container {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-top: 1.2rem;
}

.questionMark {
  display: inline-block;
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 3px 10px;
  font-weight: bold;
  margin-right: 5px;
}

.deleteIcon {
  margin-left: 1rem;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.deleteIcon:hover {
  opacity: 1;
}
