SECRET_KEY='<Your secret key>'
DEV_DB_URL=postgres://<username>:<password>@localhost:<port || 5432>/<development database>
TEST_DB_URL=postgres://<username>:<password>@localhost:<port || 5432>/<test database>
APP_MAIL='<Your email>'
MAIL_PASSWORD='<Your password>'
