SECRET_KEY='Your secret Key Goes Here'
DEV_DB_URL=postgres://<username>:<password>@localhost:<port || 5432>/<development database>
TEST_DB_URL=postgres://<username>:<password>@localhost:<port || 5432>/<test database>