.header {
  position: absolute;
  left: 0;
  top: -78px;
  padding: 2rem;
  color: var(--secondary);
  width: 100%;
  background-color: var(--primary-dark);
  margin:0;
}

.timer {
  display: flex;
  flex-direction: column;
  text-align: end;
  margin-top: 6rem !important;
}

.btn {
  color: var(--secondary);
  margin-top: 2rem;
  margin-bottom: 2rem;
}