.header {
  box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
  position: static;
  background-color: white;
  padding:0 !important;
}

.logo {
  width: fit-content;
  cursor: pointer;
  color: var(--primary-dark);
  font-weight: bold;
}

.navLink {
  font-weight: bold;
  color: var(--primary-dark);
  width: max-content;
}

.avatar {
  min-width: none;
  margin-inline: 1rem;
  cursor: pointer;
  background-color: var(--primary-dark);
  color: var(--secondary);
}

.listItem {
  position: relative;
}

.listItem::after {
  content: '';
  background-color: var(--secondary);
  width: 0px;
  position: absolute;
  bottom: 0;
  height: 1px;
  transition: width .4s;
}

.listItem:hover::after {
  width: calc(100% - 32px); /* 100% - left & right padding */
}